// блок с картой на главной
.main {
	&__map-block {
		text-align: center;
		margin-bottom: 69px;
	}
	&__title {
		font-size: 50px;
		font-family: @heavy;
		margin: 0;
		&._white {
			color: #fff;
		}
	}
	&__title-link {
		color: #020202;
		border-bottom: 1px solid #9a9a9a;
		line-height: 32px;
	    display: inline-block;
	}
	&__title-img {
		display: inline-block;
		margin: 0 0 0 0;
	}
	&__map-text {
		font-size: 23px;
		margin: -6px 0 0 0;
	}
	&__counter {
		display: inline-block;
		background: linear-gradient(#dbdcde, #fcfcfc, #dbdcde);
		-webkit-background-clip: text;
		color: transparent;
		font-size: 35px;
		margin: 0 0 0 -5px;
		width: 36px;
		line-height: 52px;
		font-family: @unisans;
		position: relative;
		top: 5px;
		&:after {
			position: absolute;
			content: '';
			background: url(../img/cell.png) 0 0 no-repeat;
			width: 36px;
			height: 52px;
			top: 0px;
			left: 0px;
			z-index: -1;
		}
		&:before {
			position: absolute;
			content: '';
			background: #192029;
			width: 25px;
			height: 1px;
			top: 43%;
			left: 5px;
		}
		&:first-child {
			margin-left: 0;
		}
		&:nth-child(3) {
			margin-right: 4px;
		}
	}
	// оболочка карты
	&__map-wrap {
		-webkit-perspective: 1700px;
		perspective: 1700px;
		-webkit-perspective-origin: 50% 90%;
		perspective-origin: 50% 90%;
		position: relative;
		pointer-events: none;
		height: 440px;
		max-width: 1920px;
		margin: 0 auto;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/map_sky.png) 0 0 no-repeat;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			z-index: 2;
			background-size: 100%;
		}
	}
	&__map-stage {
		width: 100%;
		height: 100%;
		-webkit-transform: rotateX(30deg) translate3D(0,-50px,-100px);
		transform: rotateX(30deg) translate3D(0,-50px,-100px);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transition: .5s;
		transition: .5s;
		pointer-events: auto;
		box-sizing: border-box;
		border: 13px solid #eaeaea;
		box-shadow: 0 12px 48px #b8b8b8;
	}
	// универсальные блоки с текстом
	&__inner {
		display: inline-block;
		&._widthM {
			width: 700px;
		}
	}
	&__text-red {
		color: #bb3c2c;
	}
	&__second-title {
		font-size: 40px;
		font-family: @heavy;
		margin: 0 0 18px 0;
		line-height: 48px;
		div {
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;
		}
	}
	&__text {
		margin: 0 0 0 69px;
		font-size: 22px;
	}
	&__line {
		line-height: normal;
		font-size: 200%;
	}
}
// карта
#map {
	width: 100%;
	height: 100%;
}
// блок с калькулятором 
.calc {
	&__block {
		border: 3px solid #e7e7e7;
		background: url(../img/calc_bg.png) 11px 0 no-repeat;
		border-radius: 10px;
		text-align: center;
		float: right;
		width: 295px;
		box-sizing: border-box;
		padding: 12px 16px 76px 16px;
		margin: 10px 0 0 0;
	}
	&__title {
		color: #4674cf;
		font-size: 90%;
		font-family: @heavy;
		border-bottom: 2px solid #4674cf;
		&:hover {
			border-bottom: 2px solid transparent;
		}
	}
	&__line {
		line-height: normal;
		font-size: 200%;
	}
	&__text {
		font-size: 16px;
		color: #161616;
		line-height: 28px;
		margin: 10px 0 40px 0;
	}
}
// блок приемуществ
.advantages {
	&__block {
		background: #fafafa;
		margin: 81px 0 141px 0;
		padding: 30px 0 58px 0;
	}
	&__list {
		padding: 0;
		margin: 0 0 0 -37px;
	}
	&__item {
		display: inline-block;
		text-align: center;
		width: 25%;
		position: relative;
		vertical-align: top;
	    padding: 0px 26px;
	    margin-right: -19px;
		box-sizing: border-box;
		&:first-child {
			width: 30%;
		    padding: 0px 48px;
		}
	}
	&__image {
		position: absolute;
		min-height: 327px;
		top: 0;
		right: 0;
	}
	&__title {
		text-transform: uppercase;
		font-size: 22px;
		font-family: @heavy;
		margin: 324px 0 0 0;
	}
	&__text {
		font-size: 16px;
		line-height: 28px;
		margin: 0;
	}
}
// превьюшка отзывов
.preview {
	&__feedback {
		width: 652px;
		position: relative;
		display: inline-block;
	}
	&__feedback-img {
		position: absolute;
		bottom: -12px;
		right: -28px;
	}
	&__feedback-text {
		position: relative;
		font-size: 18px;
		font-style: italic;
		line-height: 30px;
		min-height: 237px;
		margin: 0;
		padding: 28px 221px 18px 34px;
		&:after {
			position: absolute;
			content: '';
			background: url(../img/message_bg.png) 0 0 no-repeat;
			width: 602px;
			height: 237px;
			top: 12px;
			left: -9px;
			z-index: -1;
		}
		&:before {
			position: absolute;
			font-size: 24px;
			content: '«';
			top: 29px;
			left: 11px;
		}
	}
	&__autor-block {
		margin: -58px 0 0 215px;
	    min-height: 59px;
	    z-index: 2;
        position: relative;
	}
	&__autor {
		margin: 0;
		color: #161616;
		font-size: 13px;
	}
	&__autor-text {
		color: #989898;
		font-size: 13px;
		margin: 0;
	}
	&__autor-link {
		border-bottom: 1px solid #989898;
		color: #989898;
		display: inline-block;
	    line-height: 15px;
	}
}
//  база знаний на главной
.base {
	&__block {
		float: right;
		margin: 0;
		width: 384px;
		vertical-align: top;
		display: inline-block;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			overflow: hidden;
			clear: both;
		}
	}
	&__inner {
		margin-top: 21px;
		padding-left: 25px;
	}
	&__item {
		border-bottom: 1px solid #e5e5e5;
		padding: 12px 0;
		&:last-child {
			border-bottom: none;
		}
	}
	&__main-link {
		color: #4674cf;
		font-size: 60%;
		border-bottom: 1px solid;
		vertical-align: top;
		line-height: 25px;
	}
	&__line {
		font-size: 200%;
		line-height: 15px;
	}
	&__image {
		float: left;
		margin-right: 13px;
	}
	&__text {
		font-size: 13px;
		margin: 0 0 0 99px;
	}
	&__link {
		font-size: 47%;
		line-height: 20px;
		border-bottom: 1px solid;
	}
}
// слайдер
.slider {
	&__block {
		border: 6px solid #e7e7e7;
		margin-top: 12px;
		text-align: center;
		padding: 19px 0 30px 0;
		position: relative;
		margin-bottom: 50px;
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: 100%;
			width: 30px;
			background-color: #fff;
			z-index: 2;
			box-shadow: 17px 1px 19px #fff;
		}
		&:after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			height: 100%;
			width: 30px;
			background-color: #fff;
			z-index: 2;
			box-shadow: -17px 1px 19px #fff;
		}
	}
}

//  блок акции 
.action {
	&__block {
		position: relative;
		text-align: center;
		background: url(../img/table.png) bottom center no-repeat;
		padding-bottom: 143px;
		&:before {
			position: absolute;
			content: '';
			background: url(../img/action_bg.png) 0 0 no-repeat;
			width: 1224px;
			height: 451px;
			top: 4px;
			left: -76px;
			z-index: 0;
		}
	}
	&__big-title {
		font-size: 60px;
		font-family: @heavy;
		margin: 0;
	}
	&__text {
		margin: 32px 0 18px 0;
		color: #5e5e5e;
		font-size: 22px;
	}
	&__btn {
		color: #fff;
		background: #bb3c2c;
		border-radius: 5px;
		line-height: 68px;
		width: 270px;
		font-size: 22px;
		font-family: @heavy;
		display: inline-block;
		-webkit-transition: background 0.4s ease;
		-o-transition: background 0.4s ease;
		-moz-transition: background 0.4s ease;
		transition: background 0.4s ease;
		z-index: 2;
		position: relative;
		&:hover {
			border-bottom: none;
			background: lighten(#bb3c2c, 10%);
		}
	}
}

// стили для счетчика
#timerb3875700c29afd87f43ed6cefa354c40 .timer-flipchart-face {
	font-family: @unisans!important;
}
// стилизация рубля
.rubl {
    font-style: normal;
    font-family: 'Rubl';
}

// страница вопрос-ответ 
.calculate {
	&__block {
		margin-top: -17px;
		padding: 26px 0 51px 0;
		position: relative;
		background: url(../img/quest_bg.jpg) 0 0 no-repeat;
		background-size: cover;
	}
	&__text {
		font-size: 18px;
		text-shadow: 1px 1px #3d7ca1;
		margin: -4px 0 36px 0;
		color: #fff;
	}
	&__progress-block {
		width: 99.4%;
		overflow: hidden;
		background: url(../img/not_ok.png) repeat-x;
		position: relative;
		height: 38px;
		margin-bottom: 27px;
	}
	&__progress-line {
		width: 25%;
		height: 38px;
		background: url(../img/ok.png) repeat-x;
	}
	&__qa-area {
		position: relative;
		&:after {
			content: '';
			clear: both;
			height: 0;
			width: 0;
			display: block;
		}
	}
	&__image {
		float: left;
		margin: 0 20px 20px -27px;
	}
	&__inner {
		margin-bottom: 40px;
		width: 879px;
		margin: 14px 0 28px -30px;
		height: 289px;
		overflow: hidden;
		padding: 1em 41px 3em 106px;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		&._question {
			background: url(../img/quest_text_bg.png) 0 0 no-repeat;
			box-sizing: border-box;
			text-align: center;
		}
		&._answer {
			background: url(../img/answer_text-bg.png) 0 0 no-repeat;
			padding: 2em 60px 3em 106px;
		}
	}
	&__inner-title {
		font-size: 40px;
		font-weight: 600;
		line-height: 59px;
		i {
			font-weight: 400;
		}
		&._margin-line {
			margin: 15px 0;
			line-height: 44px;
		}
	}
	&__red {
		color: #dd3f2b;
	}
	&__regular {
		font-weight: 400;
	}
	&__inner-text {
		font-size: 16px;
		margin: 0;
	}
	//  кнопки под вопросом/ответом
	&__btn-block {
		display: inline-block;
	}
	&__btn {
		color: #fff;
		display: inline-block;
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		// padding: 0 37px;
		width: 284px;
		margin-left: 27px;
		border-radius: 10px;
		border: 4px solid #ececec;
		box-shadow: 5px 5px 0px #4292cb;
		line-height: 67px;
		background: #dd3f2b;
		-webkit-transition: background 0.4s ease;
		-o-transition: background 0.4s ease;
		-moz-transition: background 0.4s ease;
		transition: background 0.4s ease;
		&:hover {
			border-bottom: 4px solid #ececec;
			background: darken(#dd3f2b, 10%);
		}
		&._invers {
			border: 4px solid #dd3f2b;
			color: #dd3f2b;
			background: #ececec;
			&:hover {
				background: lighten(#ececec, 10%);
			}
		}
		&._large {
			width: auto;
			padding: 0 30px;
		}
	}
}