@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,700,500,400italic,500italic,300italic,300&subset=latin,cyrillic-ext);
@font-face {
    font-family: 'Fira Heavy';
    src: url('../fonts/firasans-heavy.eot');
    src: url('../fonts/firasans-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-heavy.woff') format('woff'),
         url('../fonts/firasans-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Ultra';
    src: url('../fonts/firasans-ultra.eot');
    src: url('../fonts/firasans-ultra.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-ultra.woff') format('woff'),
         url('../fonts/firasans-ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira SemiBold';
    src: url('../fonts/firasans-semibold.eot');
    src: url('../fonts/firasans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-semibold.woff') format('woff'),
         url('../fonts/firasans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira SemiBold Italic';
    src: url('../fonts/firasans-semibolditalic.eot');
    src: url('../fonts/firasans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-semibolditalic.woff') format('woff'),
         url('../fonts/firasans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/uni_sans_heavy.eot');
    src: url('../fonts/uni_sans_heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans_heavy.woff') format('woff'),
         url('../fonts/uni_sans_heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubl';
    src: url('../fonts/ALSRubl.eot');
    src: url('../fonts/ALSRubl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ALSRubl.woff') format('woff'),
         url('../fonts/ALSRubl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flow';
    src: url('../fonts/FlowRegular.eot');
    src: url('../fonts/FlowRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FlowRegular.woff') format('woff'),
         url('../fonts/FlowRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}