@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	.header {
		&__menu {
			margin: 18px 0 0 89px;
			width: 290px;
		}
		&__menu-item {
			width: 140px;
		}
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1370px;
	}
}