extends _layout
block content
	.main__section
		.main__block
			.container
				.main__inner._widthM
					h2.main__second-title 
						span.main__text-red Молоточкин
						|  делает феноменально качественные 
						span.main__text-red-upper потолки 
						|  за сказочно доступные цены.
					p.main__text Мы любим свою работу и делаем ее с максимальной ответственностью. Все наши сотрудники — высоко квалифицированные специалисты. И мы всегда отвечаем за указаныне сроки. Молоточкин — ваш выбор.
				.sidebar
					.calc__block._sidebar
						a.calc__title(href="#")
							span.calc__line Рассчитать стоимость ремонта
						p.calc__text Узнайте стоимость своих будущих окон сразу. Вы увидите весь процесс формирования цены от замеров до установки.
					.feedback__item._sidebar
						p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
					.feedback__autor-block
						img.feedback__autor-img(src="img/content/ava.png", alt="")
						p.feedback__autor-name Иван Снегов
						p.feedback__autor-text заказала 
							a.feedback__autor-link(href="#") 
								span.feedback__line натяжной потолок 
							| за 57 000 <i class="rubl">a</i>
					.base__block._sidebar
						h2.main__second-title._sidebar База знаний
						.base__inner._sidebar
							.base__item
								a.base__main-link(href="#")
									img.base__image(src="img/content/bk.jpg", alt="")
									span.base__line Узнайте стоимость своих будущих окон сразу
								p.base__text Вы увидите весь процесс формирования цены от замеров до установки.
							.base__item
								a.base__link(href="#") 
									span.base__line Вы увидите весь процесс формирования цены от замеров до установки
							.base__item
								a.base__link(href="#") 
									span.base__line Процесс формирования цены от замеров до установки. Формирования цены от замеров до установки
				.main__block
					ul.product__list
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.
						li.product__item
							img.product__img(src="img/content/main_img.jpg", alt="")
							a.product__link(href="#") Побелка потолка
							p.product__text Наши сотрудники постоянно обучаются за их работой ведется постоянный контроль качества. Поэтому они, как и наши потолки.	