extends _layout
block content
	.main__section
		.container
			h1.main__title._upper О компании
			.side__block
				img.side__image(src="img/content/img.jpg", alt="")
				p.side__text
					| Тут мне 3 годика, но я уже сделал 
					a.side__link(href="#") 
						span.side__line комплексный ремонт 
					| и 
					a.side__link(href="#") 
						span.side__line положил паркет
			.main__inner
				p.main__text Уже более 18 лет компания Молоточкин стоит на службе технического прогресса, привнося положительные и устойчивые изменения на каждый континент.
				p.main__text Паровой трактор Холта используется на восстановительных работах после землетрясения в Сан-Франциско. Землетрясение в Сан-Франциско считается одним из крупнейших в истории. На фотографиях, сделанных после землетрясения и последовавшего за ним пожара, изображен паровой трактор Холта №37, помогающий при расчистке. Это первый известный случай использования нашей техники на работах по ликвидации последствий стихийных бедствий.
			.slider__block
				h2.main__second-title Нам есть что показать
				ul.slider__list
					li.slider__item
						a.slider__link.fancy(href="img/content/slide_img1.jpg")
							img.slider__img(src="img/content/slide_img1.jpg", alt="")
					li.slider__item
						a.slider__link(href="#")
							img.slider__img(src="img/content/slide_img1.jpg", alt="")
					li.slider__item
						a.slider__link(href="#")
							img.slider__img(src="img/content/slide_img2.jpg", alt="")
					li.slider__item
						a.slider__link(href="#")
							img.slider__img(src="img/content/slide_img1.jpg", alt="")
					li.slider__item
						a.slider__link(href="#")
							img.slider__img(src="img/content/slide_img2.jpg", alt="")
					li.slider__item
						a.slider__link(href="#")
							img.slider__img(src="img/content/slide_img1.jpg", alt="")
			.main__inner
				p.main__text Уже более 18 лет компания Молоточкин стоит на службе технического прогресса, привнося положительные и устойчивые изменения на каждый континент.
				p.main__text Паровой трактор Холта используется на восстановительных работах после землетрясения в Сан-Франциско. Землетрясение в Сан-Франциско считается одним из крупнейших в истории. На фотографиях, сделанных после землетрясения и последовавшего за ним пожара, изображен паровой трактор Холта №37, помогающий при расчистке. Это первый известный случай использования нашей техники на работах по ликвидации последствий стихийных бедствий.
		.timeline__block
			img.timeline__image(src="img/timeline.png", alt="")
		.container
			.people__block
				h2.main__second-title Теперь наш коллектив большой
				ul.people__list
					li.people__item
						img.people__image(src="img/content/people_1.jpg", alt="")
						h4.people__name Михаил Молоточкин
						p.people__post прораб
					li.people__item
						img.people__image(src="img/content/people_2.jpg", alt="")
						h4.people__name Наталья Ивановна
						p.people__post бухгалтер
					li.people__item
						img.people__image(src="img/content/people_3.jpg", alt="")
						h4.people__name Василий Андреевич
						p.people__post прораб, любит чб
				.people__inner
					h4.people__name Еще у нас есть:
					.people__link-block
						a.people__link(href="#") Электрики
						a.people__link(href="#") Каменщики
						a.people__link(href="#") Кафельник
						a.people__link(href="#") Сантехник
						a.people__link(href="#") Прораб
						a.people__link(href="#") Зураб
						a.people__link(href="#") Архитектор Ануфрий
						p.people__wrap
							a.people__link(href="#") и других 255 разнорабочих
			.partner__block
				h2.main__second-title У нас много партнеров и клиентов
				.partner__list
					img.partner__img(src="img/content/brand_1.jpg", alt="")
					img.partner__img(src="img/content/brand_2.jpg", alt="")
					img.partner__img(src="img/content/brand_1.jpg", alt="")
					img.partner__img(src="img/content/brand_2.jpg", alt="")
					img.partner__img(src="img/content/brand_1.jpg", alt="")
					img.partner__img(src="img/content/brand_2.jpg", alt="")
					img.partner__img(src="img/content/brand_1.jpg", alt="")
					img.partner__img(src="img/content/brand_2.jpg", alt="")
					img.partner__img(src="img/content/brand_1.jpg", alt="")
					img.partner__img(src="img/content/brand_2.jpg", alt="")
					img.partner__img(src="img/content/brand_1.jpg", alt="")
					img.partner__img(src="img/content/brand_2.jpg", alt="")
					img.partner__img(src="img/content/brand_1.jpg", alt="")
					img.partner__img(src="img/content/brand_2.jpg", alt="")
					p.partner__wrap
						a.partner__link(href="#") и еще 255 компаний
			.feedback__block
				h2.main__second-title Отзывы наших клиентов
				.feedback__list
					.feedback__item
						p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/ava.png", alt="")
							p.feedback__autor-name Иван Снегов
							p.feedback__autor-text заказала 
								a.feedback__autor-link(href="#") 
									span.feedback__line натяжной потолок 
								| за 57 000 <i class="rubl">a</i>
					.feedback__item
						p.feedback__text Денег пока особо не много, еще учусь, но жить х
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/ava.png", alt="")
							p.feedback__autor-name Иван Снегов
							p.feedback__autor-text заказала 
								a.feedback__autor-link(href="#") 
									span.feedback__line натяжной потолок 
								| за 57 000 <i class="rubl">a</i>
					.feedback__item
						p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо! 					 дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/ava.png", alt="")
							p.feedback__autor-name Иван Снегов
							p.feedback__autor-text заказала 
								a.feedback__autor-link(href="#") 
									span.feedback__line натяжной потолок 
								| за 57 000 <i class="rubl">a</i>
			.action__block
				p.action__big-title Чего тут думать?
				h2.main__second-title 20% скидка только 5 дней! 
					span.main__text-red Осталось <script src="http://megatimer.ru/s/b3875700c29afd87f43ed6cefa354c40.js"></script>
				p.action__text Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее<br>время для уточнения деталей, а так же для согласования<br>специального предложения
				a.action__btn(href="#") - Алло, Молоточкин!?
	