extends _layout
block content
	.main__section
		.container
			h1.main__title._upper База знаний
			.knows__block
				a.knows__link(href="#") 
					span.knows__line Перегородка в однокомнатной квартире
				p.knows__date 26 августа 2015
				img.knows__img(src="img/content/knowimg.jpg", alt="")
				p.knows__text Даже в небольшой однокомнатной квартире можно разместить все необходимое для комфортной жизни. Поможет в этом практичное и декоративное средство – разнообразные перегородки. 
				a.knows__readmore(href="#") Читать дальше
			.knows__block
				a.knows__link(href="#") 
					span.knows__line Перегородка в однокомнатной квартире Перегородка в однокомнатной квартире 
				p.knows__date 26 августа 2015
				img.knows__img(src="img/content/knowimg.jpg", alt="")
				p.knows__text Даже в небольшой однокомнатной квартире можно разместить все необходимое для комфортной жизни. Поможет в этом практичное и декоративное средство – разнообразные перегородки. 
				a.knows__readmore(href="#") Читать дальше
			.knows__block
				a.knows__link(href="#") 
					span.knows__line Перегородка в однокомнатной квартире
				p.knows__date 26 августа 2015
				img.knows__img(src="img/content/knowimg.jpg", alt="")
				p.knows__text Даже в небольшой однокомнатной квартире можно разместить все необходимое для комфортной жизни. Поможет в этом практичное и декоративное средство – разнообразные перегородки. 
				a.knows__readmore(href="#") Читать дальше
			.knows__block
				a.knows__link(href="#") 
					span.knows__line Перегородка в однокомнатной квартире
				p.knows__date 26 августа 2015
				img.knows__img(src="img/content/knowimg.jpg", alt="")
				p.knows__text Даже в небольшой однокомнатной квартире можно разместить все необходимое для комфортной жизни. Поможет в этом практичное и декоративное средство – разнообразные перегородки. 
				a.knows__readmore(href="#") Читать дальше
			.knows__show-more
				a.knows__show-more-link(href="#") Показать больше записей