extends _layout
block content
	.main__section
		.calculate__block
			.container
				h2.main__title._white Рассчет примерной стоимости наших услуг
				p.calculate__text Точная стоимость зависит от многих факторов, и может отличаться от вышеуказанной цены на 20%. Мы можем оценить точную стоимость вашего ремонта только после вызова специалиста на объект. 
				.calculate__progress-block
					.calculate__progress-line
				.calculate__qa-area
					img.calculate__image(src="img/quest_man.png", alt="")
					.calculate__inner._question
						p.calculate__inner-title Потолки в комнатах будем делать <i>натяжные</i> или <i>подвесные</i>?
					.calculate__btn-block
						a.calculate__btn(href="#") Натяжные, конечно!
						a.calculate__btn(href="#") Хочу подвесные!
						a.calculate__btn._invers(href="#") Не знаю, посоветуете?

