extends _layout
block content
	.main__section
		.container
			h1.main__title._upper Контакты
			.side__block
				
			.main__inner
				p.main__text Если у вас много вопросов, то не стоит откладывать их в долгий ящих. В ваших руках телефоны, адреса, e-mail, контакты наших менеджеров и 
					a.main__link(href="#") 
						span.main__line форма обратной связи
					| , пользуйтесь этим, ведь мы живём в 21 веке.


			.people__block
				h2.main__second-title Наши менеджеры
				ul.people__list
					li.people__item
						img.people__image(src="img/content/people_1.jpg", alt="")
						h4.people__name Михаил Молоточкин
						p.people__post прораб
						.people__contact
							a.people__phone(href="tel:+78127284407")
								span.people__prefix +7 812
								| 728-44-07
							a.people__email(href="mailto:a.antonov@molotochkin.ru") a.antonov@molotochkin.ru
						p.people__service Вызов специалистов
						p.people__service Консультации
						p.people__service Замеры помещений
						p.people__service Оформление договоров
						p.people__service Оплата услуг
					li.people__item
						img.people__image(src="img/content/people_2.jpg", alt="")
						h4.people__name Наталья Ивановна
						p.people__post бухгалтер
						.people__contact
							a.people__phone(href="tel:+78127284407")
								span.people__prefix +7 812
								| 728-44-07
							a.people__email(href="mailto:a.antonov@molotochkin.ru") a.antonov@molotochkin.ru
						p.people__service Вызов специалистов
						p.people__service Консультации
					li.people__item
						img.people__image(src="img/content/people_3.jpg", alt="")
						h4.people__name Василий Андреевич
						p.people__post прораб, любит чб
						.people__contact
							a.people__phone(href="tel:+78127284407")
								span.people__prefix +7 812
								| 728-44-07
							a.people__email(href="mailto:a.antonov@molotochkin.ru") a.antonov@molotochkin.ru
						p.people__service Вызов специалистов
						p.people__service Консультации
						p.people__service Оплата