extends _layout
block content
	.main__section
		.container
			h1.main__title._upper Стоимость удовольcтвия
			.main__inner
				p.main__text Тут вы можете посмотреть цены наглядно выбрав нужную категорию, а для приблизительной оценки воспользуйтесь 
					a.main__link(href="#")
						span.main__line калькулятором.
			.main__category
				a.main__category-link(href="#") Под ключ
				span.main__category-active(href="#") Стены
				a.main__category-link(href="#") Пол
				a.main__category-link(href="#") Потолок
				a.main__category-link(href="#") Остекленение
				a.main__category-link(href="#") Коммуникации
			.price__block
				h2.main__second-title Скачать прайс:
				img.price__img(src="img/price.png", alt="")
				.price__info
					a.price__link(href="#") Стены, гипсокартон, услуги
					p.price__file steni-gipsokarton.pdf | 49,15 KB
		.price__table
			.price__table-line
				.container
					ul.price__list
						li.price__item._title Виды работ
						li.price__item._title Ед. изм.
						li.price__item._title Стоимость от, <i class="rubl">a</i>
					h3.price__table-title Изоляция и утепление		
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен пенопласт с герметизацией пеной
						li.price__item м<sup>2</sup>
						li.price__item._price 500
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен пенопласт с герметизацией пеной
						li.price__item м<sup>2</sup>
						li.price__item._price 500
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					h3.price__table-title Изоляция и утепление
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен пенопласт с герметизацией пеной
						li.price__item м<sup>2</sup>
						li.price__item._price 500
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен пенопласт с герметизацией пеной
						li.price__item м<sup>2</sup>
						li.price__item._price 500
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен пенопласт с герметизацией пеной
						li.price__item м<sup>2</sup>
						li.price__item._price 500
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен пенопласт с герметизацией пеной
						li.price__item м<sup>2</sup>
						li.price__item._price 500
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
			.price__table-line
				.container
					ul.price__list
						li.price__item Звукоизоляция, утепление стен минеральной ватой
						li.price__item м.п.
						li.price__item._price 777
		.container
			.action__block
				p.action__big-title Чего тут думать?
				h2.main__second-title 20% скидка только 5 дней! 
					span.main__text-red Осталось <script src="http://megatimer.ru/s/b3875700c29afd87f43ed6cefa354c40.js"></script>
				p.action__text Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее<br>время для уточнения деталей, а так же для согласования<br>специального предложения
				a.action__btn(href="#") - Алло, Молоточкин!?