extends _layout
block content
	.main__section
		.container
			.video__block
				p.video__text Вы тоже можете попасть сюда 
					a.video__link(href="#") оставив свой отзыв
			h1.main__title._upper Отзывы
			.main__inner
				p.main__text Оставляя отзывы вы оставляетенен просто благодарность, а радость за хорошо проделаную работу и нам это приятно. Это выше всех похвал. Оставив отзыв вы оставляете благодарность, ведь нам это приятно.
			.main__category._margT
				h2.main__second-title По категориям:
				a.main__category-link(href="#") Под ключ
				span.main__category-active(href="#") Стены
				a.main__category-link(href="#") Пол
				a.main__category-link(href="#") Потолок
				a.main__category-link(href="#") Остекленение
				a.main__category-link(href="#") Коммуникации
			.video-slider__block
				.slick_slider
					.video-slider__item
						.video-slider__position
							.video-slider__wrap
								img.video-slider__image(src="img/content/mini_slide.jpg", alt="")
								.video-slider__autor-block
									img.video-slider__autor-image(src="img/content/ava.png", alt="")
									p.video-slider__autor-name Иван Снегов
									p.video-slider__autor-desc заказала 
										a.video-slider__autor-link(href="#") натяжной потолок
										|  за<br>57 000 <i class="rubl">a</i>
					.video-slider__item
						.video-slider__position
							.video-slider__wrap
								iframe(src="https://www.youtube.com/embed/TAyTNXdMKqo" frameborder="0" allowfullscreen)
								.video-slider__autor-block
									img.video-slider__autor-image(src="img/content/ava.png", alt="")
									p.video-slider__autor-name Иван Снегawdawdов
									p.video-slider__autor-desc заказала 
										a.video-slider__autor-link(href="#") натяжной потолок
										|  за<br>57 000 <i class="rubl">a</i>
					.video-slider__item
						.video-slider__position
							.video-slider__wrap
								img.video-slider__image(src="img/content/mini_slide.jpg", alt="")
								.video-slider__autor-block
									img.video-slider__autor-image(src="img/content/ava.png", alt="")
									p.video-slider__autor-name Иван 33
									p.video-slider__autor-desc заказала 
										a.video-slider__autor-link(href="#") натяжной потолок
										|  за<br>57 000 <i class="rubl">a</i>
					.video-slider__item
						.video-slider__position
							.video-slider__wrap
								img.video-slider__image(src="img/content/mini_slide.jpg", alt="")
								.video-slider__autor-block
									img.video-slider__autor-image(src="img/content/ava.png", alt="")
									p.video-slider__autor-name Иван 123
									p.video-slider__autor-desc заказала 
										a.video-slider__autor-link(href="#") натяжной потолок
										|  за<br>57 000 <i class="rubl">a</i>
					.video-slider__item
						.video-slider__position
							.video-slider__wrap
								img.video-slider__image(src="img/content/mini_slide.jpg", alt="")
								.video-slider__autor-block
									img.video-slider__autor-image(src="img/content/ava.png", alt="")
									p.video-slider__autor-name Иван Снегов
									p.video-slider__autor-desc заказала 
										a.video-slider__autor-link(href="#") натяжной потолок
										|  за<br>57 000 <i class="rubl">a</i>
			.feedback__block
				ul.feedback__column
					li.feedback__column-item
						.feedback__item
							p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/ava.png", alt="")
							p.feedback__autor-name Иван Снегов
							p.feedback__autor-text заказала 
								a.feedback__autor-link(href="#") 
									span.feedback__line натяжной потолок 
								| за 57 000 <i class="rubl">a</i>
						li.feedback__column-item
							.feedback__item
								p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
							.feedback__autor-block
								img.feedback__autor-img(src="img/content/ava.png", alt="")
								p.feedback__autor-name Иван Снегов
								p.feedback__autor-text заказала 
									a.feedback__autor-link(href="#") 
										span.feedback__line натяжной потолок 
									| за 57 000 <i class="rubl">a</i>
						li.feedback__column-item
							.feedback__item
								p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
							.feedback__autor-block
								img.feedback__autor-img(src="img/content/ava.png", alt="")
								p.feedback__autor-name Иван Снегов
								p.feedback__autor-text заказала 
									a.feedback__autor-link(href="#") 
										span.feedback__line натяжной потолок 
									| за 57 000 <i class="rubl">a</i>
				ul.feedback__column
					li.feedback__column-item
						.feedback__item
							p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мильник поселился у меня дома! Спасибо!
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/ava.png", alt="")
							p.feedback__autor-name Иван Снегов
							p.feedback__autor-text заказала 
								a.feedback__autor-link(href="#") 
									span.feedback__line натяжной потолок 
								| за 57 000 <i class="rubl">a</i>
						li.feedback__column-item
							.feedback__item
								p.feedback__text Денег пока особо не много положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очетика на холодильник поселился у меня дома! Спасибо!
							.feedback__autor-block
								img.feedback__autor-img(src="img/content/ava.png", alt="")
								p.feedback__autor-name Иван Снегов
								p.feedback__autor-text заказала 
									a.feedback__autor-link(href="#") 
										span.feedback__line натяжной потолок 
									| за 57 000 <i class="rubl">a</i>
						li.feedback__column-item
							.feedback__item
								p.feedback__text Денег пока особо не много, еще у на холодильник поселился у меня дома! Спасибо!
							.feedback__autor-block
								img.feedback__autor-img(src="img/content/ava.png", alt="")
								p.feedback__autor-name Иван Снегов
								p.feedback__autor-text заказала 
									a.feedback__autor-link(href="#") 
										span.feedback__line натяжной потолок 
									| за 57 000 <i class="rubl">a</i>
				ul.feedback__column
					li.feedback__column-item
						.feedback__item
							p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/ava.png", alt="")
							p.feedback__autor-name Иван Снегов
							p.feedback__autor-text заказала 
								a.feedback__autor-link(href="#") 
									span.feedback__line натяжной потолок 
								| за 57 000 <i class="rubl">a</i>
						li.feedback__column-item
							.feedback__item
								p.feedback__text Денег пока особо не много, еще учусь, но жить хочется уже сейчас. Очень понравился подход в Потолочкине! Девушка из кол-центра вошла в мое положение и подобрала не самый дешевый, но самый правильный вариант за доступные деньги. Очень радушно и по-дружески я бы сказала. Теперь не только новый потолок, но и маленький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
							.feedback__autor-block
								img.feedback__autor-img(src="img/content/ava.png", alt="")
								p.feedback__autor-name Иван Снегов
								p.feedback__autor-text заказала 
									a.feedback__autor-link(href="#") 
										span.feedback__line натяжной потолок 
									| за 57 000 <i class="rubl">a</i>
						li.feedback__column-item
							.feedback__item
								p.feedback__text Денег пока особо не много, еще учуснький Потолочкин в виде магнитика на холодильник поселился у меня дома! Спасибо!
							.feedback__autor-block
								img.feedback__autor-img(src="img/content/ava.png", alt="")
								p.feedback__autor-name Иван Снегов
								p.feedback__autor-text заказала 
									a.feedback__autor-link(href="#") 
										span.feedback__line натяжной потолок 
									| за 57 000 <i class="rubl">a</i>
				.feedback__more
					a.feedback__more-link(href="#") Ещё отзывов? ДА!
		.container
			.action__block
				p.action__big-title Чего тут думать?
				h2.main__second-title 20% скидка только 5 дней! 
					span.main__text-red Осталось <script src="http://megatimer.ru/s/b3875700c29afd87f43ed6cefa354c40.js"></script>
				p.action__text Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее<br>время для уточнения деталей, а так же для согласования<br>специального предложения
				a.action__btn(href="#") - Алло, Молоточкин!?