footer.footer
	.container
		.header__phone-block._footer
			a.header__phone(href="tel:+78126434407")
				span.header__phone-prefix +7 812
				| 643-44-07
			p.header__time._footer Звоните с 8<sup>:00</sup> до 19<sup>:00</sup>
			a.header__email(href="mailto:welove@molotochkin.ru") welove@molotochkin.ru
			.yashare-auto-init(data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki" data-yashareTheme="counter")
			p.copyright__develop Разработка сайта - студия 
				a.copyright__link(href="#") «Максимус»
			p.copyright__text © 2015 ООО Молоточкин
		.footer__menu
			ul.footer__level-one
				li.footer__item-one 
					a.footer__link-one(href="#")
						span.footer__line Стены
					ul.footer__level-second
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Поклейка обоев
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Покраска
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Двери
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Перегородки
				li.footer__item-one 
					a.footer__link-one(href="#")
						span.footer__line Потолок
					ul.footer__level-second
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Натяжные потолки
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Подвесные потолки
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Теплый потолок
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Кафельный потолок
				li.footer__item-one 
					a.footer__link-one(href="#")
						span.footer__line Коммуникации
					ul.footer__level-second
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Электрика
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Водопровод
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Канализация
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Отопление
				li.footer__item-one 
					a.footer__link-one(href="#")
						span.footer__line Пол
					ul.footer__level-second
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Укладка ламината
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Укладка линолеума
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Теплый пол
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Кафельная плитка
				li.footer__item-one 
					a.footer__link-one(href="#")
						span.footer__line Остекление
					ul.footer__level-second
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Пластиковые окна
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Деревянные окна
						li.footer__item-second 
							a.footer__link-second(href="#") 
								span.footer__line Остекление балконов
				li.footer__item-one 
					a.footer__link-one(href="#") 
						span.footer__line Комплексный<br>ремонт
include _script.jade