header.header
	.container
		a.header__logo(href="/")
			img(src="img/logo.png" alt="Site Logo")
		.header__menu
			ul.header__menu-list
				li.header__menu-item
					a.header__menu-link(href="#") О компании
				li.header__menu-item
					a.header__menu-link(href="#") Отзывы
				li.header__menu-item
					a.header__menu-link(href="#") Контакты
				li.header__menu-item
					a.header__menu-link(href="#") Цены
		a.header__calc-btn(href="#") Калькулятор ремонта
		.header__phone-block
			a.header__phone(href="tel:+78126434407")
				span.header__phone-prefix +7 812
				| 643-44-07
			p.header__time Звоните с 8<sup>:00</sup> до 19<sup>:00</sup>
		.main-menu__block
			ul.main-menu__list
				li.main-menu__item
					a.main-menu__link(href="#")
						img.main-menu__image(src="img/menu_img_1.png", alt="")
						p.main-menu__title Под ключ
						p.main-menu__text от 89 000 <i class="rubl">a</i> и 45 дней
				li.main-menu__item
					a.main-menu__link(href="#")
						img.main-menu__image(src="img/menu_img_2.png", alt="")
						p.main-menu__title Стены
						p.main-menu__text от 2 900 <i class="rubl">a</i> и 2 дня
				li.main-menu__item
					a.main-menu__link(href="#")
						img.main-menu__image(src="img/menu_img_3.png", alt="")
						p.main-menu__title Пол
						p.main-menu__text от 51 200 <i class="rubl">a</i> и 14 дней
				li.main-menu__item
					a.main-menu__link.active(href="#")
						img.main-menu__image(src="img/menu_img_4.png", alt="")
						p.main-menu__title Потолок
						p.main-menu__text от 32 000 <i class="rubl">a</i> и 30 дней
				li.main-menu__item
					a.main-menu__link(href="#")
						img.main-menu__image(src="img/menu_img_5.png", alt="")
						p.main-menu__title Остекление
						p.main-menu__text от 14 999 <i class="rubl">a</i> и 10 дней
				li.main-menu__item
					a.main-menu__link(href="#")
						img.main-menu__image(src="img/menu_img_6.png", alt="")
						p.main-menu__title Коммуникации
						p.main-menu__text от 1200 Р и 2 дней