script(src="js/jquery.js")
//- script(type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8")
//- script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
script(src="js/plugins.js")
// ============= подключить только на странице отзывов
script(src="js/slick.min.js")
// ===================================================
script(src="js/script.js")